* {
  font-family: 'Architects Daughter', cursive;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  border: black;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.js-text {
  height: 30px;
  width: 400px;
}
.main {
  display: flex;
}

.favoriteSection {
  width: 30vw;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.resultSection {
  width: 70vw;
  padding: 20px;
}

h3 {
  font-size: 12px;
  text-align: center;
}
.image {
  width: 130px;
  height: 180px;
}
.serieCard {
  border-radius: 12px;
  display: inline-block;
  padding: 10px;
  background-color: rgb(238, 208, 208);
  margin: 7px;
}
.serieFavCard {
  border-radius: 12px;
  display: inline-block;
  padding: 10px;
  background-color: rgb(187, 241, 187);
  margin: 7px;
}

.button {
  color: white;
  background-color: rgb(173, 17, 140);
  border-radius: 12px;
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

img {
  height: 120px;
  border-radius: 12px;
  align-self: center;
}

.resetButton {
  padding: 5px;
  border-radius: 20px;
  border-color: white;
  background-color: white;
}

.button-reset-all {
  border-radius: 20px;
  border-color: lightgray;
  background-color: white;
  height: 40px;
}
